{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- Include .Content from the index.md page-->
{{ if .Content }}
          {{ .Content }}
{{ end }}
<!-- End of Include .Content from the index.md page-->

<!-- about -->
{{ with .Params.about }}
{{ if .enable }}
<section class="about section">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            {{ with .title }}<h2>{{ . | markdownify }}</h2>{{ end }}
            {{ with .description }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
          </div>
          {{ with .content }}{{ . | markdownify | $.Page.RenderString (dict "display" "block") }}{{ end }}
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="{{ .image | relURL }}" class="img-responsive" alt="logo-vinnova">
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /about -->


<!-- Call to action -->
{{ if .Params.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}
<!-- /Call to action -->

{{ end }}